### Esse notebook contém o resultado do processamento do script `src/handle_database.py`. Ou seja, a agregação das bases de Estabelecimentos, Recursos Físicos, Recursos Humanos e Equipes.

In [1]:
import pandas as pd

In [11]:
df_est = pd.read_csv(
    '../data/Banco_Datathon/Banco_Datathon/processed/estabelecimentos.csv',
    index_col=0
)

df_rf = pd.read_csv(
    '../data/Banco_Datathon/Banco_Datathon/processed/recursos_fisicos.csv',
    index_col=0
)

df_rh = pd.read_csv(
    '../data/Banco_Datathon/Banco_Datathon/processed/recursos_humanos.csv',
    index_col=0
)

df_equipes = pd.read_csv(
    '../data/Banco_Datathon/Banco_Datathon/processed/equipes.csv',
    index_col=0
)

In [8]:
print(df_est.shape)
df_est.head()

(5597, 27)

,cod_mun,est_cli_amb_esp_max_2014,est_cli_amb_esp_max_2015,est_cli_amb_esp_max_2016,est_cli_amb_esp_max_2017,est_cli_amb_esp_max_2018,hosp_esp_max_2014,hosp_esp_max_2015,hosp_esp_max_2016,hosp_esp_max_2017,...,ubs_max_2015,ubs_max_2016,ubs_max_2017,ubs_max_2018,nome_mun,diagnose_e_terapia_max_2014,diagnose_e_terapia_max_2015,diagnose_e_terapia_max_2016,diagnose_e_terapia_max_2017,diagnose_e_terapia_max_2018
0,110001,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,Alta Floresta D'Oeste,4.0,4.0,4.0,4.0,4.0
1,110037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,5.0,5.0,6.0,Alto Alegre dos Parecis,0.0,0.0,0.0,0.0,1.0
2,110040,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,6.0,6.0,6.0,5.0,Alto Paraíso,3.0,3.0,3.0,4.0,4.0
3,110034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,Alvorada D'Oeste,2.0,3.0,3.0,3.0,3.0
4,110002,32.0,37.0,30.0,29.0,34.0,0.0,1.0,1.0,1.0,...,11.0,11.0,14.0,14.0,Ariquemes,20.0,21.0,14.0,11.0,13.0

In [9]:
print(df_rf.shape)
df_rf.head()

(5597, 27)

,cod_mun,rf_leitos_2014,rf_leitos_2015,rf_leitos_2016,rf_leitos_2017,rf_leitos_2018,rf_mamografos_2014,rf_mamografos_2015,rf_mamografos_2016,rf_mamografos_2017,...,rf_ressonancia_mag_2015,rf_ressonancia_mag_2016,rf_ressonancia_mag_2017,rf_ressonancia_mag_2018,nome_mun,rf_tomografos_comp_2014,rf_tomografos_comp_2015,rf_tomografos_comp_2016,rf_tomografos_comp_2017,rf_tomografos_comp_2018
0,110001,45.0,45.0,45.0,45.0,43.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Alta Floresta D'Oeste,0.0,0.0,0.0,0.0,0.0
1,110037,16.0,16.0,16.0,16.0,16.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Alto Alegre dos Parecis,0.0,0.0,0.0,0.0,0.0
2,110040,15.0,15.0,15.0,15.0,16.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Alto Paraï¿½so,0.0,0.0,0.0,0.0,0.0
3,110034,35.0,35.0,35.0,35.0,35.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Alvorada D'Oeste,0.0,0.0,0.0,0.0,0.0
4,110002,96.0,110.0,133.0,137.0,148.0,1.0,2.0,4.0,4.0,...,1.0,1.0,1.0,1.0,Ariquemes,1.0,1.0,1.0,1.0,1.0

In [10]:
print(df_rh.shape)
df_rh.head()b

(5597, 11)

,cod_mun,rh_enfermeiros_2014,rh_enfermeiros_2015,rh_enfermeiros_2016,rh_enfermeiros_2017,rh_enfermeiros_2018,rh_medicos_2014,rh_medicos_2015,rh_medicos_2016,rh_medicos_2017,rh_medicos_2018
0,110001,16.0,15.0,17.0,19.0,20.0,11.0,17.0,17.0,18.0,19.0
1,110037,7.0,7.0,7.0,8.0,12.0,7.0,7.0,8.0,8.0,8.0
2,110040,11.0,10.0,14.0,14.0,10.0,8.0,9.0,10.0,9.0,8.0
3,110034,11.0,11.0,9.0,13.0,14.0,4.0,4.0,6.0,9.0,8.0
4,110002,59.0,68.0,75.0,84.0,88.0,113.0,118.0,130.0,161.0,172.0

In [12]:
print(df_equipes.shape)
df_equipes.head()

(5597, 12)

,cod_mun,nome_mun,saude_da_familia_2014,saude_da_familia_2015,saude_da_familia_2016,saude_da_familia_2017,saude_da_familia_2018,nucleos_de_apoio_saude_da_familia_2014,nucleos_de_apoio_saude_da_familia_2015,nucleos_de_apoio_saude_da_familia_2016,nucleos_de_apoio_saude_da_familia_2017,nucleos_de_apoio_saude_da_familia_2018
0,110001,Alta Floresta D'Oeste,5.0,4.0,4.0,4.0,5.0,1.0,1.0,1.0,1.0,1.0
1,110037,Alto Alegre dos Parecis,2.0,2.0,3.0,3.0,3.0,1.0,1.0,1.0,1.0,1.0
2,110040,Alto Paraíso,4.0,4.0,4.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0
3,110034,Alvorada D'Oeste,3.0,3.0,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0
4,110002,Ariquemes,9.0,11.0,11.0,11.0,12.0,1.0,1.0,1.0,1.0,1.0